.l-alertmail-section
{
	@extend .l-annonces-section;
	.btn.submit 
	{
		display: inline-block;
    	float: right;
    	width: inherit;
	}
}
.l-alertmail-section.first
{
	z-index:10;
	position:relative;
}