/* ==|======================
   Layout/Annonces
   ========================= */


.l-annonces
{
	.l-nav-top
	{
		color: #999c9e;
		a
		{
			color: #999c9e;
			font-size: 14px;
			font-weight:600;
			padding-left: 10px;
			padding-right: 10px;
		}
		.btn 
		{
			color:white;
		}
	}
	.content 
	{
		background: #f3f3f4;
	}
}

.title-container
{
	padding: 0px 20px 20px 20px;
	background:white;
	border-bottom:1px solid #e7eaec;
	border-top:1px solid #e7eaec;
	h2 
	{
		font-weight:lighter;
		font-size: 24px;
		margin-bottom:5px;
		font-weight:lighter;
	}
	a 
	{
		color:$textdark;
		font-weight:300;
		&:after 
		{
			margin:0 5px 0 10px;
			content:"/";
		}
	}
	a:last-child 
	{
		font-weight:bold;
		&:after 
		{
			content:"";
		}
	}
}

.m-map-marker
{
	text-align: center;
    font-size: 2em;
    padding: 20px 0;
    color: #a7b1c2;
    display:none;
}
.l-nav-aside.hide-menu  
{
	.dropdown-profile
	{
		display:block;

	}
	.m-map-marker
	{
		display:none;
	}
}
@media screen and (min-width: $small) {
	.l-nav-aside
	{
		.dropdown-profile
		{
			display:none;

		}
		.m-map-marker
		{
			display:block;
		}
	}
}

.l-annonces-section
{
	background:white;
	margin:20px;
	position:relative;
	padding: 30px 20px 20px 20px;
}
.l-annonces-search
{
	&:before, &:after
	{
        content:"";
        background:#e7eaec;
        height:3px;
        position:absolute;
        top:25px;
        left:20px;
        right:20px;
    }
    &:after
	{
        background:$green;
        width:calc(100% - 40px);
    }
}

/* */
/* FORM */
/* */

/* TOP */
.l-top-annonces-export
{
	border-bottom:1px solid #e7eaec;
	padding: 5px 15px;
	display:block;
	margin-bottom:15px;
	height:60px;
	.btn-inverse 
	{
		float:right;
	}
}
.number-annonces
{
	font-size:0.8em;
	padding:0;
	span 
	{
		font-size: 14px;
		font-weight:bold;
	}
}
/* BTN */
.l-annonces-form
{
	input, .radio-inline
	{
		margin-bottom:15px;
	}
	@media screen and (min-width: $medium) {
		
		.input-separation:first-child 
		{
			padding-right: 15px;
		}
		.input-separation:last-child 
		{
			padding-left: 15px;
		}
	}
}
.dropdown-dates
{
	z-index:10;
	left:0;
	right:initial;
	top:50px;
	padding:10px;
	ul 
	{
		padding:0 0 10px;
	}
	li:last-child a {
	    border-bottom: 1px solid #e5e6e7 !important;
	}
	a 
	{
		margin-bottom:5px !important; 
		border-radius:10px !important; 

	}
	&:before
	{
		content:"";
		position:absolute;
		left:20px;
		top:-5px;
		width:10px;
		border:1px solid #e5e5e5;
		height:10px;
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	&:after
	{
		content: "";
	    position: absolute;
	    left: 20px;
	    top: -3px;
	    width: 11px;
	    background: white;
	    height: 11px;
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	.btn, .btn-inverse
	{
		margin:20px 0 10px;
		display:inline-block;
	}
}
.range_inputs
{
	@extend .clearfix;
	.datepicker-cont 
	{
		width:50%;
		float:left;
		margin:0;
		padding:0;
		padding-right:15px;
	}
	.datepicker-cont:last-child 
	{
		padding-right:0;
		padding-left:15px;
	}
}
