.l-calendar
{
	.input-separation
	{	
		margin-top:40px;
	}
	
	@media screen and (min-width: $medium) {
		.input-separation
		{
			margin-top:0;
			padding-right:10px;
		}
		.input-separation:last-child
		{
			padding-left:10px;
			.fc-view-container
			{
				margin-top:-5px;
			}
			.fc th
			{
				padding:9px 0;
			}
		}

	}
}
.btn.btn-calendar 
{
	display:none;
    bottom: 0;
    right: 0;
    z-index:10;
    padding: 6px 9px;
    font-size:12px;
    background-color: #efefef;
    border-color: #efefef;
    color: #7b7b7b;
    position: absolute;
    @media screen and (min-width: $medium) {
    	display: inline-block;
    }
}