/* ===========================
   Layout / Edit param
   =========================== */

.separation-form
{
    border-top:1px solid rgba(229, 230, 231, 0.7);
    border-bottom:1px solid rgba(229, 230, 231, 0.7);
    padding-bottom: 20px;
    margin: 20px 0px;
    .separation-form-title
    {
    	display:block;
    }
    h3 
    {
    	margin: 20px 0 0;
    	font-size: 12px;
    	display: inline-block;
    	padding-bottom: 4px;
    	border-bottom: 1px solid;
    	text-transform: uppercase;
    	color: #bcbcbc;
    }
}

.ul-multiple-inputs-container
{
	padding-bottom: 0px;
	padding-top:0px;
	@media screen and (min-width: $medium) {
	    .float-quart
	    {
	    	width:15%;
	    }
	    .float-trois-quart
	    {
	    	width:85%;
	    }
	}
	li 
	{
		@extend .clearfix;
		position:relative;
	}
	.inputsstatus
	{
		@extend .clearfix;
		width:80%;
		width: calc(100% - 50px);
		float:left;
		padding-bottom:20px;
		border-bottom:1px solid rgba(229, 230, 231, 0.7);
	}
	li:last-child .inputsstatus
	{
		border-bottom:none;
	}
	.inputstyle, .btn-colorpicker
	{
		width:calc(100% - 55px);
		margin-left:0px;
		display:block;
		margin-right:0px;
		float:left;
	}
	.btn-colorpicker
	{
		width:55px;
		border: 1px solid #e5e6e7;
    	margin-top: 20px;
    	height: 33px;
    	margin-right:-1px;
    	padding: 6px 10px;
    	&:after 
    	{
    		font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    content: "\f078";
		    position:relative;
		    left: 6px;
    	}
	}
	&.no-bottom-margin
	{
		margin-bottom:0;
		border-bottom:0px;
	}
	&.no-top-margin
	{
		margin-top:0;
	}
}


