/* ==|====================
   Layout/Footer
   ======================= */

.footer-annonces
{
	background:white;
	border-top: 1px solid #e7eaec;
	font-size: 13px;
	font-weight:400;
	padding:1px 20px;
    span 
    {
    	font-weight:bold;
    }
}
