/* ==|====================
   Layout/Header
   ======================= */

.l-header {
	padding:0 15px;
	width:100%;
	height:0px;
    position:relative;
	@extend .clearfix;
    &:before 
    {
        content:"";
        background:$green;
        width:100%;
        height:2px;
        position:absolute;
        top:0;
        left:0;
    }
    .max-width 
    {
        padding:0 15px;
    }
}
.l-landing .l-header 
{
   height:66px; 
}
.l-header.scroll 
{
	background:white;
	border-bottom: 1px solid #e7eaec;
}
h1 
{
    display:inline-block;
    float:left;
}
.btn.logo-header
{
	margin-top: 6px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    font-weight:700;
    text-transform:uppercase;
    position:absolute;
    top: 8px;
    left: 20px;
    @media screen and (min-width: $medium) {
    	padding: 15px 20px 15px 20px;
    	margin:-8px 0;
    	font-size:14px;
        left:0px;
    	border-top-left-radius:0px;
    	border-top-right-radius:0px;
    }
}

.badge 
{
    background:$green;
}
.notification-link
{
    position:relative;
    .badge 
    {
        position: absolute;
        right: 0px;
        top: -6px;
        font-size: 10px;
        border-radius: 3px;
        background: $green;
        padding: 4px 5px;
    }
}