/* ==|====================
   Layout/Maps
   ======================= */
.l-map-section
{
	@extend .l-annonces-section;
	padding:0;
	border-top:3px solid #e7eaec;
	h2 
	{
		font-size: 14px;
		padding: 15px 20px 15px 20px;
		margin:0;
		font-weight:bolder;
		border-bottom:1px solid #e7eaec;
	}
}
.l-map-section-container
{
	padding: 30px 20px 20px 20px;
}
.map-btns-container
{
	padding-bottom:20px;
	margin-bottom:10px;
	border-bottom:1px solid #e7eaec;
}
.postalcode
{
	float:left;
}
.map-database
{
	padding-top:10px;
	& > div 
	{
		@extend .float-middle; 
		@media screen and (min-width: $medium) {
			width:49%;
		}
	}
	& > div:last-child 
	{
		@media screen and (min-width: $medium) {
			float:right;
		}
	}
}
.zonedaction
{
	float:left;
	margin-left:10px;
	position:relative;
 	p 
 	{
 		position:absolute;
 		top: -15px;
 		color: #acacac;
 		font-weight:lighter;
 		font-size: 0.8em;
 	}
 	.btn-zonedaction
 	{
 		text-align:center;
 		border: 1px solid #e5e6e7;
    	padding: 6px 9px;
    	display: inline-block;
 	}
 	.btn-zonedaction:first-child 
 	{
 		border-bottom-left-radius:3px;
 		border-top-left-radius:3px;
 	}
 	.btn-zonedaction:last-child 
 	{
 		border-bottom-right-radius:3px;
 		border-top-right-radius:3px;
 		margin-left: -1px;
 	}
 	.btn-zonedaction:hover 
 	{
 		color: #676a6c;
 		background:#f4f4f4;
 	}
}
.btn-map-rechercher
{
	float:left;
	display:inline-block;
	padding: 7px 13px !important;
	margin-left:10px;
}
.btn-codepostaux
{
	display:inline-block;
	float:right;
	margin-top:10px;
}
@media screen and (max-width: $medium) {
	.postalcode
	{
		width:100%;
		input 
		{
			width:100%;
		}
	}
	.zonedaction
	{
		width:100%;
		margin:25px 0 10px;
		.btn-zonedaction
		{
			width:50%;
		}
	}
	.btn-map-rechercher
	{
		display:block;
		width:100%;
		margin:10px 0 15px;
	}
}

.map-container
{
	display:block;
	width:100%;
}