/* ==|====================
   Module/Button
   ======================= */

.btn {
	background-color: $green;
    border-color: $green;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
    text-align:center;
    border: 0px;
    display:block;
    @include transition();
    &:focus
    {
        border:none;
        outline:none;
        color:white;
    }
    &:hover 
    {
        color:white;
    	background-color: $green-dark;
    	border-color: $green-dark;
    }
}
.btn.inlineblock
{
    display:inline-block;
}
.btn-inverse
{
    display:inline-block;
    background:white;
    padding: 10px 20px;
    color:$textdark;
    border-radius: 3px;
    border: 1px solid #e7eaec;
    &:hover 
    {
        color:$textdark;
        background-color: $bg-grey-light;
    }
}
.btn-grey 
{
	@extend .btn;
	background-color: $bg-grey-dark;
    border-color: $bg-grey-dark;
    &:hover 
    {
    	background-color: $bg-grey-darker;
    	border-color: $bg-grey-darker;
    }
}
/* DROPDOWN */
.btn-dropdown 
{
    &:after 
    {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f0d7";
        margin-left: 7px;
        font-size: 0.8em;
    }
}
.dropdown-container
{
    position:relative;
}
.dropdown 
{
    position:absolute;
    right:0;
    background:white;
    border:1px solid #e5e5e5;
    border-radius:5px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.3);
    li 
    {
        display:block;
    }
    a 
    {
        padding: 15px 20px;
        display:block;
        margin:0;
        text-align:left;
        min-width:160px;
        border-bottom:1px solid #e5e5e5;
    }
    a:hover 
    {
        background:$bg-grey-light;
    }
    li:last-child a
    {
        border-bottom:0;
    }
}
.l-nav-aside .dropdown
{
    right:initial;
    z-index: 100;
    left: 25px;
    a 
    {
        font-weight:300;
        border-left:0;
        color:$textdark;
    }
}
.l-nav-aside .dropdown-profile .dropdown
{
    top: 85px;
}
.btns-calendar
{
    height: 50px;
    margin-left: -10px;
    a 
    {
        display: inline-block;
        color: #676a6c;
        border-radius: 0px;
        border: 1px solid #e7eaec;
        padding: 7px 10px;
        margin-left:-5px;
        margin-top: 7px;
    }
    a.active 
    {
        border: 1px solid $green;
        background:$green;
        color:white;
    }
    a:hover 
    {
        background:#eeeeee;
    }
    a.active:hover 
    {
        background:#149278;
    }
}

    
.btn-delete 
{
    display:inline-block;
    padding: 4px 7px;
    background:white;
    border-radius:50px;
    font-size: 12px;
    border:1px solid $red;
    color:$red;
    font-size: 12px;
    border:1px solid $red;
    color:$red;
    span 
    {
        display:none;
    }
    &:hover 
    {
        color:white;
        background: $red;
    }
}
.btn-new 
{   
    margin-top: 12px !important;
    margin-left: 10px !important;
}
.btn-actives
{
    margin-left: 10px !important;
}
.btn.archive 
{
    background-color:#676a6c;
}

.btn-add 
{
    width: 40px;
    float: right;
    border: 1px solid #e5e6e7;
    margin-top: 20px;
    height: 33px;
    padding: 7px 14px;
}