/* ===========================
   Base
   =========================== */

body {
    font-family: $font1;
    font-weight: 300; 
    color:$color2;
    background:white;
    font-size: 13px;
    line-height: 1.5;
    color:$textdark;
    font-weight:500;
    min-width:300px;
}

a {
    color: $color-link;
    text-decoration: none;
    @include transition();

    &:hover {
        color: $color-link-hover;
    }
}
.wrapper 
{
    overflow:hidden;
    width:100%;
}
.wrapper-size
{
    max-width:1170px; 
    margin: 0 auto;
}
.content 
{
    @extend .clearfix;
}
::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
ul 
{
    list-style:none;
    padding:0;
    margin:0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}