/* ==|====================
   Base/Form
   ======================= */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea, .input{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
        -webkit-appearance: none;
    @include placeholder(#acacac);

    &:hover {
        //
    }

    &:focus {
        outline:0;
        border-color: #1ab394 !important;
    }
}
.input-field
{
    position:relative;
}
.number-euro
{
    input 
    {
        width: calc(100% - 32px);
    }
    &:after 
    {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f153";
        position: absolute;
        right: 0;
        width:33px;
        border: 1px solid #e5e6e7;
        top: 0;
        padding: 9px 12px;
    }
}
.radio-inline
{
    input 
    {
        margin-right:5px;
    }
}
.m-input-postalcode
{
    input 
    {
        width:calc(100% - 67px);
        display:inline-block;
        margin:0 -4px 0 0;
    }
    a 
    {
       padding: 5px 12px;
       font-size: 14px; 
       width:67px;
       margin:0;
       display:inline-block;
       border-top-left-radius:0px;
       border-bottom-left-radius:0px;
    }
}
.reportrange-container
{
    position:relative;
    input 
    {
        padding-left: 33px;
    }
    &:after 
    {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f073";
        position: absolute;
        left: 13px;
        width:33px;
        top: 9px;
    }
        
}