@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts
$font1: 'Open Sans', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$green: #1ab394;
$green-dark: #179d82;

$bg-grey-light: #f4f4f4;
$bg-grey-dark: #c2c2c2;
$bg-grey-darker: #bababa;

$bg-blue:#2f4050;
$bg-blue-dark:#293846;

$textdark: #676a6c;
$textlight: #aeaeae;
$textbluelight:#a7b1c2;

$color1: $green;
$color2: $textdark;

// Text
$color-text-base: #212121;

// link
$color-link: $textdark;
$color-link-hover: darken($color1, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $color1;

// Btn
$bg-btn: #555;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: #212121;
$clr-btn-hover: darken($clr-btn, 10%);

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

// = Responsive
// -----------------------------

$large: 1200px; 
$medium: 992px; 
$small: 769px; 